<div class="course">
    <mat-card>
        <div class="course__content">
            <mat-card-header>
                <mat-card-title>
                    {{item.title}}
                </mat-card-title>
                <div class="course__date">
                    <mat-icon>access_time</mat-icon>
                    <span class="course__time">{{item.duration | durationConvert}}</span>
                    <mat-icon>date_range</mat-icon>
                    <span class="course__day">{{item.creationDate}}</span>
                </div>
            </mat-card-header>
            <mat-card-content>
                {{item.descr}}
            </mat-card-content>
        </div>
        <div class="course__buttons">
            <mat-card-actions>
                <app-edit-button></app-edit-button>
                <app-del-button (click)="onHandleDelete()"></app-del-button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>