$bg-color: rgba(243, 243, 243, 0.55);
$gray: #4d4c49;
$dark-gray: #393737;
$light-gray: #4d4949;
$dove-gray: #818181;
$light-gray-2: #494a4d;
$light-gray-3: #5c5c5c;
$medium-gray: #6d6d6d;
$shadow: #949494;
$light-white: #f8f8f8;
$light-white-2: #fcf6f6;
$white: #fff;
$snow-white: #e6e6e6;
$gray-white: #ddd;
$medium-white:  #dcdcdc;

$dark-white: #b7b7b7;
$dark-white-2:#ddd;
$pink: #ffb0b0;
