$white: #fff;
$lightWhite: #fcfcfc;
$mediumWhite: #c5c1c1;

$grey: #5a5a5a;
$Turquoise: #578b84;
$doveGrey: #929292;
$black: #000;
$lightGrey: #e9eae2;
$lightGreen: #a9cc8c;
$lighterGreen: #c3f19d;
$darkGreen: #85ba59;
$mediumGreen: #bfe79e;
$darkWhite: #e1e1e1;
$lightOrange: #ffc2a6;
$darkOrange: #ff915e;
$brightOrange: #ff7130;

$lightTurquoise: #7dd5c9;
$mediumTurquoise: #66b5aa;
$lighterTurquoise: #85e3d6;
$darkTurquoise: #66b5aa;

$lightBlack: rgba(20, 32, 56, 0.9);
