@mixin gradient-color ($color) {
  background:
    linear-gradient($white 0%, transparent 0%),
    linear-gradient(135deg, $color 33.33%, transparent 33.33%) 0 0%,
    $color linear-gradient(45deg, $color 33.33%, $white 33.33%) 0 0%;
  background-repeat: repeat-y;
  background-size: 5px 15px;
  z-index: 100;
}
