@import "typography";
@import "color-matrix";

$font-family: $fontFamily;
$font-size: $fontSize;

$black: $black;
$white: $white;
$light-white: $lightWhite;
$dark-white: $darkWhite;
$medium-white: $mediumWhite;
$grey: $grey;
$light-turquoise: $lightTurquoise;
$medium-turquoise: $mediumTurquoise;
$lighter-turquoise: $lighterTurquoise;
$dark-turquoise: $darkTurquoise;
$light-green: $lightGreen;
$lighter-green: $lighterGreen;
$dark-green :$darkGreen;
$medium-green: $mediumGreen;
$turquoise: $Turquoise;
$dove-grey: $doveGrey;
$light-grey: $lightGrey;
$light-orange: $lightOrange;
$dark-orange: $darkOrange;
$bright-orange: $brightOrange;
$menu-background-color: $lightBlack;
