@import '../../../../styles/main';

mat-card {
  margin-top: 10px;
  background-color: $bodyBG2;
  color: $textColorDark;
  padding-bottom: 10px;

  & mat-card-header {
    margin-bottom: 15px;
  }

  & mat-card-title {
    padding: 5px 10px;
    font-weight: bold;
  }

  & mat-card-content {
    padding: 0 50px 0 10px;

    & mat-form-field {
      display: block;
    }

    & span {
      margin-top: 15px;
      font-size: 12px;
    }

    & .pull-right {
      display: flex;
      justify-content: flex-end;
    }

    & .duration-form-field,
    .date-form-field {
      width: 25%;
      margin-bottom: 10px;

      & mat-hint {
        font-size: 12px;
      }

      & span {
        float: right;
      }
    }

    & .options-form-field {
      margin-bottom: 15px;
    }
  }

  & mat-card-actions {
    display: flex;
    justify-content: flex-end;

    &:last-child {
      margin-bottom: 10px;
    }

    & button {
      background-color: $bodyBG3;
      color: $buttonTextColor;

      &:hover {
        background-color: lighten($color: $bodyBG3, $amount: 20%);
      }

      &:disabled {
         cursor: not-allowed;
         background-color: lighten($color: $bodyBG3, $amount: 20%);
      }
    }
  }
}
