$lightBlue: #4e92ff;
$pureBlue: #447fde;
$darkBlue: #3b6fc2;

$white: #fff;
$lightBlack: #3c3b3b;

$borderColorLightGrey: #d8d8d8;

$checkboxBgColorDarkWhite: #f2f2f2;
$checkboxBorderColorlightGrey: #aeaeae;

$textColorWhite: #fff;
$textColorLightGrey: #aca8a8;
$textColorGrey: #5d5d5d;

$borderBottomHoverGreenColor: #52be80;

$backgroundColorDarkWhite: #fbfbfb;
$backgroundColorWhite: #fff;

$paginationColor: #4e92ff;
$paginationBgColor: #f6f6f6;
$paginationHoverBgColor: #e0e0e0;

$disabledArrowColor: #dadada;
$activeArrowColor: #5d5d5d;

$greenColor: #52be80;
$orangeColor: #f89052;
$redColor: #f05b5b;
$blueColor: #4e92ff;
$blackColor: #3c3b3b;
