@import "typography";
@import "color-matrix2";

$font-family: $fontFamily;
$font-size: $fontSize;
$Header-H1: $H1;
$Header-H2: $H2;
$Header-H3: $H3;
$Header-H4: $H4;
$Header-H5: $H5;

$background-image: url("../img/Banner_img2.png");

$white: $white;
$light-black: $lightBlack;

$text-color-white: $textColorWhite;
$text-color-lightGrey: $textColorLightGrey;
$text-color-Grey: $textColorGrey;

$checkbox-bgColor-darkWhite: $checkboxBgColorDarkWhite;
$checkbox-borderColor-lightGrey: $checkboxBorderColorlightGrey;

$border-color-lightGrey: $borderColorLightGrey;
$border-bottom-hover-color: $borderBottomHoverRedColor;

$default-color: $LightOrange;
$hover-color: $pureOrange;
$active-color: $darkOrange;

$background-color2: $backgroundColorDarkWhite;
$background-color1: $backgroundColorWhite;

$pagination-color: $paginationColor;
$pagination-box-bgColor: $paginationBgColor;
$pagination-hover-bgColor: $paginationHoverBgColor;

$disabled-arrow-color: $disabledArrowColor;
$active-arrow-color: $activeArrowColor;

$green-color: $greenColor;
$red-color: $redColor;
$black-color: $blackColor;
$blue-color: $blueColor;
$orange-color: $orangeColor;
