@import "reset";
@import "normalize";
@import "_bootstrap-override";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "color-matrix";
@import "mixins";
@import "extends";
@import "vars";
@import "typography";

body {
  font-family: $font-family-hind;
  font-size: $font-size;
  color: $gray;
  background-color: $white;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

.header {
  height: 304px;
  max-width: 1440px;
  margin: 0 auto;

  &__name {
    height: 28px;
    width: 83px;
    margin-top: 25px;

    @include make-md-column(7);

    & h4 {
      @extend .header-h4;

      font-weight: bold;
    }
  }

  &__menu {
    margin-top: 28px;

    @include make-md-column(5);

    & ul {
      width: 100%;
      display: flex;
      justify-content: space-between;

      & li {
        display: inline-block;
        width: 50px;
        text-align: center;

        & a {
          @extend .header-h5;

          color: $gray;
          text-decoration: none;

          &:hover {
            font-weight: 600;
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__title {
    margin-top: 72px;
    text-align: center;

    & h2 {
      @extend .header-h2;
    }
  }

  & .bottom-line {
    @extend .bottom-line;

    margin: 3px auto 14px;
    width: 48px;
  }

  &__search {
    margin-top: 40px;
    max-width: 320px;
    position: relative;
    float: right;

    & input[type="search"] {
      box-sizing: border-box;
      height: 45px;
      width: 320px;
      border: 1px solid $light-gray;
      border-radius: 5px;
      padding: 5px 0 5px 8px;
      outline: none;
      margin-bottom: 15px;

      &::-webkit-search-cancel-button {
        display: none;
      }

      &::placeholder {
        font-size: 15px;
        line-height: 25px;
        padding-left: 2px;
      }
    }

    & img {
      position: absolute;
      top: 13px;
      right: 5%;
    }
  }
}

.blog {
  max-width: 1440px;
  margin: 0 auto;

  &__wrapper {
    @include center-block;
    @include make-md-column(12);

    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 50px;

    &:hover {
      &::before,
      &::after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 20px;
        left: 85px;
        width: 75%;
        top: 80%;
        box-shadow: 0 10px 52px $shadow;
      }
    }

    &-left {
      position: relative;

      @include center-block;

      width: 560px;
      height: 379px;

      & .play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &-right {
      background-color: $light-white-2;

      @include center-block;

      position: relative;
      width: 600px;
      min-height: 379px;

      & .wrapper-right__user-info {
        width: 100%;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 25px;
        padding-left: 39px;

        .user-info__block {
          margin-left: 15px;

          & > span {
            margin-right: 7px;
          }

          & span {
            color: $dove-gray;
            font-size: 15px;
            line-height: 25px;
          }

          & h4 {
            @extend .header-h4;

            font-weight: 500;
          }

          & .dot {
            @extend .comments-dot;

            margin: 0 9px 3px 7px;

            & + .dot {
              margin-left: 11px;
              margin-right: 7px;
            }
          }
        }
      }

      &--square {
        position: absolute;
        top: -3px;
        right: -2px;
        box-sizing: border-box;
        height: 76px;
        width: 84px;
        border: 3px solid $white;
        border-radius: 5px;
        background-color: $light-white-2;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & h3 {
        margin-top: 33px;
        padding-left: 40px;
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;

        & a {
          color: $light-gray;
        }
      }

      & audio {
        height: 37px;
        width: 214px;
        margin: 19px 0 -11px 32px;
      }

      & p {
        margin-top: 15px;
        padding-left: 40px;
        padding-right: 99px;
        line-height: 26px;
      }

      & button {
        @extend .transparent-button;

        height: 45px;
        width: 121px;
        margin-left: 40px;
        margin-top: 30px;
      }
    }
  }

  & .lower-block {
    @include make-md-column(12);

    min-height: 379px;
    padding-bottom: 15px;

    & .wrapper-right__user-info {
      padding-left: 6px;
    }

    & h3 {
      padding-left: 7px;
    }

    & p {
      padding-left: 7px;
      padding-right: 91px;
    }

    & button {
      margin-left: 7px;
    }
  }
}

.bottom__button {
  display: flex;
  outline: 0;
  justify-content: center;
  margin-bottom: 90px;

  & button {
    margin-top: 10px;

    @extend .black-button;
  }
}

.footer {
  max-width: 1440px;
  position: relative;
  padding-top: 10px;
  margin: 0 auto;
  height: 71px;
  background-color: $light-white;

  &__soc-icons {
    @include make-md-column(4);
    @include make-xs-column(4);

    margin-top: 12px;

    & .soc-icon {
      width: 23px;
      height: 23px;

      &:hover {
        cursor: pointer;
        fill: $pink;
      }
    }

    & a {
      margin-right: 18px;
    }
  }

  &__title {
    @include make-md-column(4);
    @include make-xs-column(4);

    @extend .header-h4;

    font-weight: bold;
    margin-top: 12px;
    text-align: center;
  }

  &__copyright {
    @include make-md-column(4);
    @include make-xs-column(4);

    @extend .header-h5;

    margin-top: 14px;
    text-align: right;
  }

  &__to-top {
    position: absolute;
    top: 5px;
    right: 32%;

    & .circle {
      display: inline-block;
      height: 35px;
      width: 35px;
      background-image: url("../img/a-icon-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(180deg);
      line-height: 17px;
      border-radius: 50%;
      border: 1px solid $light-gray;

      &:hover {
        cursor: pointer;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }
}

@media all and (max-width: $medium-width) {
  .blog__wrapper-right {
    width: 100%;
  }
}
