@import '../../../../../styles/main';

.wrapper {
  max-width: 1180px;
  margin: 50px auto 0;
}

app-add-button {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.load-more {
  margin-top: 15px;

  & button {
    background-color: $bodyBG2;
    padding: 5px;
    width: 100%;

    & h2 {
      text-transform: uppercase;
      color: lighten($color: $textColorDark, $amount: 30%);
      text-align: center;
      font-size: 16px;
      margin-bottom: 0;
    }
  }
}
