$lightBlue: #4e92ff;
$pureBlue: #447fde;
$darkBlue: #3b6fc2;

$LightOrange: #f89052;
$pureOrange: #dc7f47;
$darkOrange: #bd6937;

$lightGreen: #60cf57;
$pureGreen: #4aba42;
$darkGreen: #3da235;

$lightRed: #f05b5b;
$pureRed: #bf4141;
$darkRed: #ac2d2d;

$lightYellow: #ffcf31;
$pureYellow: #eebd1c;
$darkYellow: #d6a917;

$lightTurquoise: #0fbdb4;
$pureTurquoise: #0ca099;
$darkTurquoise: #0a8a83;

$white: #fff;
$lightBlack: #3c3b3b;

$borderColorLightGrey: #d8d8d8;

$checkboxBgColorDarkWhite: #f2f2f2;
$checkboxBorderColorlightGrey: #aeaeae;

$textColorWhite: #fff;
$textColorLightGrey: #aca8a8;
$textColorGrey: #5d5d5d;

$borderBottomHoverGreenColor: #52be80;
$borderBottomHoverRedColor: #e74c3c;

$backgroundColorDarkWhite: #fbfbfb;
$backgroundColorWhite: #fff;

$paginationBgColor: #f6f6f6;
$paginationHoverBgColor: #e0e0e0;

$disabledArrowColor: #dadada;
$activeArrowColor: #5d5d5d;

$greenColor: #52be80;
$orangeColor: #f89052;
$redColor: #f05b5b;
$blueColor: #4e92ff;
$blackColor: #3c3b3b;
