@import "../../../../../styles/main";

  button {
    font-style: 16px;
    height: 35px;
    background-color: $buttonColor;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $buttonTextColor;

    &:hover {
      background-color: darken($color:$buttonColor, $amount: 10%)
    }

    mat-icon {
      margin-right: 4px;
      font-weight: bold;
    }

    span {
      margin-right: 5px;
      line-height: 35px;
      font-size: 14px;
    }
  }
