@import "color-matrix";
@import "typography";

$headerLogoBG: $lightDark;
$headerBG : $darkGray;
$logoColor: $white;

$bodyBG: $darkWhite;
$bodyBG2: $white;
$bodyBG3: $darkGray;

$textColor: $white;
$textColorDark: $darkGray;

$buttonColor: $lightBlue;
$border: $lightBlue;
$buttonTextColor: $white;

$searchBorder:  $darkGray;

$footerBG: $darkGray;

$fontSize: $font-size;